@{ 
    ViewBag.Title = "Not Found";
}


<center>
    <h2>@ViewBag.ErrorMessage</h2>
    <a asp-action="index" asp-controller="home">
        Click here to return back to the Home Page.
    </a>
</center>